<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="url" value="http://api.k780.com:88/"/>
		<add key="app" value="life.time"/>
		<add key="appkey" value="10003" />
		<add key="sign" value="b59bc3ef6191eb9f747dd4e83c99f2a4" />
		<add key="format" value="json" />
	</appSettings>
</configuration>